* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Fuzzy Bubbles', cursive;
    max-width:100%;
    margin: 0;
    background: linear-gradient(#1898b8,#0d0552,black);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
section{
    max-width: 1879px;
    width: 100%;
}
.encabezado {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
}
.encabezado a{
    display: flex;
    float: left;
    width: 10%;
    justify-content: center;
    align-items: center;
}
.encabezado h1{
    width: 90%;
    font-size: 40px;
    margin-right: 150px;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    text-shadow: rgb(159, 25, 177) 5px 4px 5px;
    letter-spacing: 2px;
}
.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.leik{
    display: grid;
    align-items: center;
    justify-content: center;
}
section .centro .mjs{
    margin-right: 150px;
}
section .botones {
    display: flex;
    align-items: center;
    justify-content: center;
}
section .footer p{
    margin-left: 40px;
}
.muhneco{
    display: grid;
    margin: 40px;
    height: 744px;
    width: 450px;
    background-color: aliceblue;
    box-shadow: 18px 24px 20px -8px rgba(159, 25, 177, 0.302);
    border-radius: 32px;
}
.texto{
    margin-left: 55px;
    width: 336px;
    height: 58px;
    text-align: center;
    justify-content: center;
}
.texto h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items:center ;   
}
.enunciado{
    color: aliceblue;
}
.cuadro{
    display: grid;
    justify-content: left;
    opacity: 0.6;
}
#resultado{
    display: none;
    color:#0d0552;;
    font-size: 20px; 
}
#textResult{
    border: none;
    color: #0d0552;
    height: 300px;
    font-size: 43px;
    display: none;
}
#textoEntrada{
    background-color: #104A98;
    height: 311px;
    max-width: 800px;
    width: 100%;
    color: aliceblue;
    font-size: 30px;
    border: 2px solid rgb(35, 35, 35);
    padding: 3px;
    border-radius: 5px;
    outline: 0;
    font-family: 'Fuzzy Bubbles', cursive;
}
.botonCopiar{
    display: flex;
    text-align: center;
}
#copiar{
    margin-left: 33%;
    margin-top: 50%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background-color: #0d0552;
    border-radius: 24px;
    display: none;
}
#botonEncript{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-right: 20px;
    background-color: #0d0552;
}
#botonDesencript{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 20px;
    background-color: #0d0552;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fuzzy Bubbles', cursive;
    color: aliceblue;
}
button:active{
    box-shadow: 2px 2px 2px rgb(133, 197, 235), 0px 0px 35px 0px #00b7f8;
    border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
    transition: all 0.1s ease 0s;
}

@media all and (max-width:1479px){
    .encabezado{
        margin-bottom:10px ;
    }

    .encabezado h1{
        font-size: 30px;
        margin: 0;
    }
    .muhneco{
        max-width: 1479px;
        width: 100%;
        height: 186px;
    }
    .texto{
        max-width: 1479px;
        width: 100%;
        height: 186px;
        font-size: 15px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .image{
        display: none;
    }
    .centro{
        max-width: 1479px;
        width: 100%;
        /* margin-left: 20px; */
    }
    section .centro .mjs{
        margin-right: 0;
    }
    #textoEntrada{
        max-width: 1460px;
        width: 100%;
    }
    section .footer p{
        margin-left: 0;
    }
    section .botones{
       width: 100%;
    }
    #botonEncript,#botonDesencript{
        font-size: 15px;
        width: 80%;
    }
    .cuadro{
        display: flex;
        height: 126px;
        width: 100%;
        justify-content: center;
    }
    #textResult{
        height: 126px;
        width: 80%;
    }
}
@media all and (min-width:350px) and (max-width:475px){
    .encabezado h1{
        font-size: 30px;
        margin: 0;
    }
    .muhneco{
        max-width: 475px;
        width: 100%;
        height: 186px;
    }
    .texto{
        max-width: 475px;
        width: 100%;
        height: 186px;
        font-size: 15px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .image{
        display: none;
    }
    .centro{
        max-width: 475px;
        width: 100%;
        /* margin-left: 20px; */
    }
    section .centro .mjs{
        margin-right: 0;
    }
    #textoEntrada{
        max-width: 460px;
        width: 100%;
    }
    section .footer p{
        margin-left: 0;
    }
    button{
        flex-direction: column-reverse;
    }
    #botonEncript,#botonDesencript{
        font-size: 15px;
    }
    .cuadro{
        display: flex;
        height: 126px;
        width: 100%;
        justify-content: center;
    }
    #textResult{
        height: 126px;
        width: 80%;
        font-size: 20px;
    }
}
@media all and (min-width:200px) and (max-width:348px){
    .encabezado h1{
        font-size: 30px;
        margin: 0;
    }
    .muhneco{
        max-width: 348px;
        width: 100%;
        height: 186px;
    }
    .texto{
        max-width: 348px;
        width: 100%;
        height: 186px;
        font-size: 15px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .image{
        display: none;
    }
    .centro{
        max-width: 348px;
        width: 100%;
        /* margin-left: 20px; */
    }
    section .centro .mjs{
        margin-right: 0;
    }
    #textoEntrada{
        max-width: 280px;
        width: 100%;
    }
    section .footer p{
        margin-left: 0;
    }
    button{
        flex-direction: column-reverse;
    }
    #botonEncript,#botonDesencript{
        font-size: 15px;
    }
    .cuadro{
        display: flex;
        height: 126px;
        width: 100%;
        justify-content: center;
    }
    #textResult{
        height: 126px;
        width: 80%;
        font-size: 20px;
    }
}

